@font-face {
    font-family: 'shishang';
    src: url('../fonts/AkzidenzGroteskBE MdCn.ttf');
}

body {
    padding: 0;
    margin: 0;
    font: 12px shishang, HelveticaNeue, Helvetica, Arial, sans-serif;
    /*transform: rotate(-180deg);*/
    background-image: linear-gradient(0deg, #155D8A 0%, #28ADAB 100%);
    color: #fff;
}

a {
    color: #00B7FF;
}

.hidden {
    display: none !important;
}

.container-v {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
}

.line-box {
    margin: 68px 10px 78px 70px;
    width: 160px;
    height: calc(100vh - 146px);
    display: inline-block;
}

.best-value, .worst-value {
    font-size: 28px;
    color: #FFFFFF;
}

.best-value {
    margin-bottom: 16px;
}

.worst-value {
    margin-top: 16px;
}

.best-line, .worst-line {
    background: #FFFFFF;
    width: 100px;
    height: 8px;
}

.mid-line {
    background: #FFFFFF;
    width: 60px !important;
    height: 8px;
    margin-left: -25px;

}

.line-groups {
    margin-left: 25px;
}

.line-groups > div {
    width: 10px;
}

.excellent {
    height: 415px;
    background: #33EA9B;
}

.good {
    height: 415px;
    background: #FFF57A;
}

.bad {
    height: 830px;
    background: #FF646E;
}

.move-water {
    position: absolute;
    top: 120px;
    left: 45px;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: url("../images/movedWater.png") no-repeat;
    background-size: 100% 100%;
}

.content {
    width: 830px;
    padding-right: 75px;
    height: calc(100vh - 156px);
    position: absolute;
    top: 115px;
    left: 245px;
}

.title {
    font-size: 64px;
    color: #FFFFFF;
}

.title-line {
    width: 255px;
    height: 20px;
    background: rgba(255, 255, 255, 0.35);
}

.water-value {
    margin-top: 120px;
}

.water-value div {
    display: inline-block;
}

.water-value-number {
    font-size: 240px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.water-value-unit {
    font-size: 80px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 35px;
}

.description {
    font-size: 36px;
    color: #FFFFFF;
    text-align: justify;
    line-height: 56px;
    margin-top: 35px;
    height: 300px;
    overflow: auto;
}

.image-body {
    width: 350px;
    height: 350px;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 50%;
}

.spin-circle {
    width: 100%;
    height: 100%;
    background: url("../images/ring.png") no-repeat;
    margin-top: -440px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3; /*Safari and Chrome*/
}

/*.spin-circle.spin {*/
/*animation: spin 1s linear infinite;*/
/*}*/

.image-box {
    width: 350px;
    height: 350px;
}

.image-box.first {
    margin: 0 0 0 415px;
}

.image-box.second {
    margin: -220px 0 0 0;
}

.image-box.third {
    margin: -25px 0 0 305px;
}

.image {
    width: 290px;
    height: 290px;
    background-size: 100% 100%;
    border-radius: 50%;
}

.image-text {
    font-family: Helvetica;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    width: 350px;
    margin-top: 40px;
}

.image-groups {
    margin-top: 25px;
}

.toc .first .image {
    background-image: url("../images/quan1.png");
}

.toc .second .image {
    background-image: url("../images/quan2.png");
}

.toc .third .image {
    background-image: url("../images/quan3.png");
}


.tds .first .image {
    background-image: url("../images/tds.png");
}

.tds .second .image {
    background-image: url("../images/cloudiness.png");
}

.tds .third .image {
    background-image: url("../images/盐.png");
}


.turbidity .first .image {
    background-image: url("../images/泥沙.png");
}

.turbidity .second .image {
    background-image: url("../images/铁锈.png");
}

.turbidity .third .image {
    background-image: url("../images/image.png");
}

@keyframes spin {

    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {

    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

}

#animation {
    width: 1920px;
    height: 1080px;
    position: absolute;
    margin: -600px 0 0 -420px;
    background-size: 100% 100%;
    background-image: url("../images/water.svg");
    overflow: hidden;
    /*transform-origin: 50% 0;*/
    animation: move 6s linear infinite;
    -webkit-animation: move 6s linear infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1; /*Safari and Chrome*/
}

@keyframes move {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(2);
        opacity: .75;
    }

    50% {
        transform: scale(3);
        opacity: .5;
    }

    75% {
        transform: scale(4);
        opacity: .25;
    }

    99% {
        transform: scale(5);
        opacity: .1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

#water {
    -webkit-backface-visibility: hidden;
}
